<<<<<<< HEAD
#cam, #photo{
    width: 300px;
    min-height: 300px;
    border: 1px solid #000000;
}
=======
#cam, #photo{
    width: 300px;
    min-height: 300px;
    border: 1px solid #000000;
}
>>>>>>> d631703f3a45687f39bfdcdec59df41c29373567
